.button {
  background-color: $primary;
  font-weight: 700;
  padding: 17px 57px;
  border-radius: 100px;
  display: inline-block;
  background-color: $primary;
  color: $white;
  font-size: 20px;
  border: none;
  &:hover {
    background-color: darken($primary, 10%);
    color: $white;
  }

  &--to-top {
    $size: 48px;
    display: none;
    padding: 0;
    position: fixed;
    z-index: 9999;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    color: $white;
    width: $size;
    height: $size;
    line-height: $size;
    background-color: $primary;
    box-shadow: $box-shadow-to-top;
    transition: transform 0.25s ease-in, background-color 0.25s ease-in;
    transform: translate(0, 0);
    // border: 1px solid $border-color;
    svg {
      margin-bottom: 4px;
    }
    &:hover {
      color: $white;
      background-color: $primary-darken;
      transform: translate(0, -2px);
    }
  }
}

.button-ext {
  display: inline-block; 
  @extend %background-image;

  &--amazon {
    background-image: url("../images/buy-amazon.png");
    width: 188px;
    height: 67px;
  }

  &--google {
    background-image: url("../images/google-play.png");
    height: 63px;
    width: 213px;
  }

  &--apple {
    background-image: url('../images/app-store.png');
    width: 195px;
    height: 63px;
  }
}
