.footer {
  padding-top: 240px;

  &__title {
    font-weight: 600;
    margin-bottom: 40px;
  }

  &__logo {
    display: inline-block;
    color: $white;
    img {
      height: 39px;
      width: auto;
    }
  }

  &__item {
    color: rgba($primary-darken, 0.6);
    margin-bottom: 10px;
  }

  &__copyright {
    color: rgba($primary-darken, 0.6);
  }

  hr {
    margin-top: 65px;
    margin-bottom: 65px;
  }

  &__social {
    width: 36px;
    height: 36px;
    
  }
}
