.hero {
  position: relative;
  z-index: 1;
  padding-top: 200px;

  &__dots-top {
    position: absolute;
    top: 150px;
    left: 20%;
  }

  &__row {
    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }

  &__dots-bottom {
    position: absolute;
    left: 20px;
    bottom: 100px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__subheading {
    margin-bottom: 80px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
  }

  &__search {
    position: relative;
    line-height: 1;
    input {
      background-color: #f4eef5;
      padding: 30px 70px 30px 65px;
      border: none;
      width: 100%;
      // font-size: 20px;
      border-radius: 100px;
      &::placeholder {
        color: rgba($primary, 0.4);
      }

      @include media-breakpoint-down(sm) {
        padding-left: 30px;
        /* padding-left: 20px;
        font-size: 15px; */
      }
    }

    &::before {
      $size: 36px;
      @extend %background-image;
      content: "";
      background-image: url("../images/search_icon.png");
      position: absolute;
      top: calc(50% - #{$size} / 2);
      width: $size;
      height: $size;
      right: 32px;
      @include media-breakpoint-down(sm) {
        $size: 24px;
        width: $size;
        height: $size;
        top: calc(50% - #{$size} / 2);
      }
    }
  }

  &__left {
    padding-top: 60px;
    padding-bottom: 60px;
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__right {
    // position: static;
    // padding-left: 40px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 63px;
  }
}
