.section {
  padding-top: 130px;
  padding-bottom: 130px;
  $parent: &;

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__heading {
    color: $yellow;
    span {
      color: $primary-darken;
    }
  }

  &--libraries {
    position: relative;
  }

  &--create-library {
    position: relative;
    #{$parent}__button {
      margin-right: 30px;
    }
    #{$parent}__phone {
      @extend %background-image;
      background-image: url("../images/phone.png");
      background-size: contain;
      position: absolute;
      bottom: 0;
      right: 20px;
      padding: 12px 15px 12px 15px;

      img {
        height: 500px;
        width: auto;
      }

      @include media-breakpoint-down(sm) {
        img {
          height: 200px;
        }
      }
    }

    #{$parent}__illustration-container {
      @include media-breakpoint-down(sm) {
        height: 300px;
      }
    }
  }

  &__text {
    margin-bottom: 64px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
