.section {
  padding-top: 130px;
  padding-bottom: 130px;
  $parent: &;

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__heading {
    color: #fdc800;

    span {
      color: $primary-darken;
    }
  }

  &--libraries {
    position: relative;
  }

  &--create-library {
    position: relative;
    #{$parent}__button {
      margin-right: 30px;
    }
    #{$parent}__phone {
      @extend %background-image;
      background-image: url("../images/phone.png");
      background-size: contain;
      position: absolute;
      bottom: 0;
      right: 20px;
      padding: 12px 15px 12px 15px;

      img {
        height: 500px;
        width: auto;
      }

      @include media-breakpoint-down(sm) {
        position: static;
        display: inline-block;
        margin-bottom: 20px;
        img {
          width: 100%;
          height: auto;
          // height: 300px;
        }
      }
    }
  }

  &__image {
    position: static;
    &::before {
      @extend %background-image;
      background-size: contain;
      background-position: left;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      content: "";
    }

    &--hero {
    }

    &--library {
      &::before {
        background-image: url("../images/picture_app.svg");
        background-position: right bottom;
        right: 0;
        width: 50%;
        left: auto;
      }

      @include media-breakpoint-down(sm) {
        text-align: center;

        &::before {
          content: none;
        }
      }
    }

    &--libraries {
      &::before {
        background-image: url("../images/picture_libraries.svg");
      }

      @include media-breakpoint-down(sm) {
        height: 150px;
        &::before {
          top: 0;
          background-position: top left;
          background-size: contain;
          display: inline-block;
          width: 100%;
          height: 150px;
        }
      }
    }

    &--hero {
      position: static;
      &::before {
        z-index: -1;
        width: 60%;
        background-position: right;
        background-image: url("../images/picture_app_top.svg");
        right: 0;
        left: auto;
        background-position: top right;
      }

      @include media-breakpoint-down(sm) {
        height: 100px;
        &::before {
          top: 0;
          background-position: top right;
          background-size: auto 200px;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }

  &__text {
    color: rgba($primary, 0.6);
    margin-bottom: 64px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
